Pillow
numpy
#rdkit-pypi
openbabel
ipymol
#tensorflow
#boost-cpp
#vina==1.2.5
#chimera==0.4.7
flask 
nglview 
#biopython==1.84
scikit-learn
torch-geometric
flask-cors
python-box==7.3.0
pyYAML
tqdm
scipy
ensure
joblib
types-PyYAML
setuptools
pandas
numpy
dvc
seaborn
matplotlib==3.10.0
-e .