#rdkit
#OpenBabel
ipymol
#boost-cpp
#vina
#chimera
flask 
nglview 
#biopython
scikit-learn
#torch
torch-geometric
flask-cors
python-box
pyYAML
tqdm
scipy
ensure
joblib
types-PyYAML
setuptools
pandas
numpy
dvc
seaborn
#matplotlib
#tensorflow
-e .